<!-- begin Skills -->
<div class="container skills-container">
  <section class="content-section">
  <h3>{{ site.skills_title | default: "Skills" }}</h3>
  {% for skill in site.data.skills %}
  <div class="skill-item">
    <h4 class="skill-item-copy">{{ skill.skill }}</h4>
    <span class="badge badge-pill badge-dark">{{ skill.description_1 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_2 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_3 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_4 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_5 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_6 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_7 }}</span>
    <span class="badge badge-pill badge-dark">{{ skill.description_8 }}</span>
  </div>
  {% endfor %}
</section>
</div>
<!-- end Skills -->